language: bash
before_install:
  - sudo apt-get install xfonts-75dpi
  - wget -O pandoc.deb https://github.com/jgm/pandoc/releases/download/2.5/pandoc-2.5-1-amd64.deb
  - sudo dpkg -i pandoc.deb
#  - wget -O wkhtmltox.deb https://downloads.wkhtmltopdf.org/0.12/0.12.5/wkhtmltox_0.12.5-1.trusty_amd64.deb
#  - sudo dpkg -i wkhtmltox.deb
script:
- pandoc  -s -t epub -o vimscript.epub  -f marsudo kdown content/*.md -M title='VimScript
  编程指南'
- pandoc  -s -t html5 -o vimscript.pdf  -f markdown content/*.md -M title='VimScript 编程指南'
deploy:
  provider: releases
  api_key:
    secure: FpVNYzx/xcRMoLo8toPsLGK88APDIib8kNQA/Jj845BAH23yWGhFHh3QCaGvqJL+IX7+a+ZcM9qiPWeaiV37OhPC7HMdns7DdC7quMAEBwMGN8r+3oTuNPcjf9IpUpw594o1QXE6vhjSuCao5Zph4M+owDuhyQV7sttXjWfLYTA8Rrshwzz9jkVXBch1MKo5Zk8bg2AvNOgDoYUpQtMrWTCZxP3hiDuW9l6SfLArVuEdhvch/OnQgrmHOb6VntRaWeIOK+9eX8/OzivNfyVMWz0W0vzSsiiUZ+wRXqIpsvGYXGJKuogYx/55RVg4JB18s3+YQlugNbN63+TKOIXOkBncoLf2Y0iDfALp5AEaA2cld2Obp+IEVFGNA7vKFlQk/7YwL++OcOKDrIn5PVSSLdh41koTzXgQJEfmNExG5/OLFRvxikSKnY0K0KdwdrFOYl9lATrh3AADMSnE+qIaTA7BA2eOl5BZgckxAtztP1cA5A4PhWErVX0ccpMgTIpZMJwQzkQ/salmJ5OXP5I9rGa8cgKhl84SWImpm+BbaxoBPygUQkKi49IyJTomJatbGyHlttHnheWdXaeravh1LOj0EMk1hh3desC1AxMqf0EeDa2gJgJs9HuTcTb1Nbm6VFJcbWEnFTAh+VUVzS2rnOckd5GgGJz+ehjIojF++r0=
  file:
    - vimscript.epub
    - vimscript.pdf
  on:
    repo: kenvifire/vimscript
